{% extends 'base.html.twig' %}

{% block title %}Password reset link sent{% endblock %}

{% block body %}
 <center><img src="/logo.png"></center>
 	<div class = "container" style="background-color: #90EE90;"><center>
 	<p>Password reset link sent! <p>
 	<p>Please click the link in the email to reset your password.</p></center>
 	</div>
{% endblock %}
