{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <h1>Reset Password</h1>
    <p>Please enter your email address to reset your password.</p>

    {{ form_start(Reset) }}
        {{ form_row(Reset.email) }}

        <button class="btn btn-success register-person" type="submit">Reset Password</button>
    {{ form_end(Reset) }}
{% endblock %}
