body{
background-color:#242424;
    margin: 0;
    height: 100%;
}
ul {
	list-style-type: none;
}

.container{
	padding-bottom: 100px;
	width: 100%;
}

.about{
	display: inline-block;
	background:transparent;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size:clamp(2rem, 4vw, 6rem);
	position: relative;
	padding: 0.5em;
	border: 0;
}

.about::after{
	content: "";
	position: absolute;
	background-color: #ff6600;
	height: 1em;
	width: 100%;
	left: 20%;
	top: 50%;
	z-index: -1;
}

.art-fill{
	font-family: 'Montserrat', sans-serif;
	color:white;
	padding: 1vh 1.2vw;
	margin:20px;
}

.about-fill{
	font-family: 'Montserrat', sans-serif;
	color:white;
	border: 1px solid white;
	  padding: 1vh 1.2vw;

}

.about-content{
		width: 100%;
	display: flex;
	margin: 0px auto;
	flex-direction: column;
}

.main-grid{
	display:grid;
	grid-template-columns: 
		minmax(1em, 1fr)
      repeat(2, minmax(15rem, 35rem))
      minmax(5rem, 10rem)
      minmax(1em, 1fr);
	;
	gap:2em;
	padding-top: 100px;
	padding-bottom: 100px;
	position:relative;
}

main {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
  }


.title{
	z-index: 1;
	grid-column: 3/4;
	grid-row: 1;
	color:#ff6600;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: clamp(3rem, 10vw, 7rem);

}

.line{
	z-index: 1;
	width: 800px;
	height:50px;
	grid-column:2/5;
	grid-row: 2;
	background-color: #ff6600;
}
.location{
	padding-left: 10px;
	grid-column:2/5;
	color:#FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	font-size:1.8rem;
	grid-row: 2;
	z-index: 2;
}

.location::after{
	content: "";
	position: absolute;
	background-color: #ff6600;
	height: 1em;
	width: 100%;
	left: -2%;
	top: 50%;
	z-index: -1;
}

.maface{
	grid-column: 1/3;	
	grid-row: 1/span 4;
	width: 300px;
	height: 300px;

}

.maface img{
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
	object-fit: contain;
}

.skills{
/*	background-color:#FFFFFF;*/
	background: linear-gradient(-30deg, #000 11%, #2b1100 30%, #421a00 38%, #6e2b00 45%, #993c00 49%, #c44d00 54%, #de5700 59%, #ed5d00 63%, #ff6400 72%, #ff771f 85%, #ff893d 100%);
	animation: gradient 25s ease infinite;
	background-size: 400% 400%;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:10em;
	box-shadow: 0 4px 4px 0 #ff6600, 0 4px 20px 0 #ff6600;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		box-shadow: 0 4px 4px 0 #000, 0 4px 20px 0 #000;
		background-position: 100% 50%;
	}
	100% {

		background-position: 0% 50%;
	}
}

.item{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	margin-bottom: 50px;
}

.item img{
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
	filter: drop-shadow(0.1em 0.1em .01em white);
}

.flexbox {
	margin: 0px auto;
	padding: 0px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.flex-info {
	width: 80%;
	margin: 0px;
	padding: 0px;
}

.flex-info p{
	display: inline-block;
	background:transparent;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size:clamp(2rem, 4vw, 6rem);
	position: relative;
	padding: 0.5em;
	border: 0;
	left:70%;
}

.flex-info p::after{
	content: "";
	position: absolute;
	background-color: #ff6600;
	height: 1em;
	width: 100%;
	left: 20%;
	top: 50%;
	z-index: -1;
}

.flex-info ul {
	list-style-type: disc;
	font-size: 2.75vh;
}

.projects {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 0px;
}
.projects li {
	list-style-type: none;
	width: 48%;
}

.projects li>a{
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition:.5 ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects li:hover .image{
  opacity: 0.5;
}

.projects li:hover .middle{
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 10px;
  padding: 16px 32px;
  z-index: 2;
}

.projects li>h1{

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
}

footer {
  margin: 3vh 2vw;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer > a > img {
  height: auto;
  width: 6vh;
  margin: 0vh 0.2vw;
}

.content{
	margin-left: 50px;
	margin-right: 50px;

}

.content p{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight: lighter;
	color:white;
}

.content a{
	padding-left: 50%;
	color:#ff6600;
}


.designs {
position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    height:100%;

}

.art{
	max-width: 90%;
	padding-left: 50px;
}

.art img{
	width: 200px;
	height: 200px;
	object-fit: cover;
}


.footer{
	background: #000000;
	color:#d3d3d3;
	height: 400px;
	width:100%;
	position:relative;
}

.footer .footer-bottom{
	background: #242424;
	color:#686868;
	height: 50px;
	width:100%;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	justify-content: center;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}

.footer .footer-content{
	padding-top: 50px;
	height:350px;
	display: flex;
	text-align: center;
}


@media(max-width: 800px){
	.main-grid{
		display:block;
	}

	main{
		display:block;
	}

	.skills{
		display:grid;
		grid-template-columns: minmax(1em,1fr) minmax(1em,1fr);
		gap: 0;
		padding-left: 20%;
	}

	.item{
		width:100px;
		height:100px;
	}

	.item img{
	max-width: 100px;
	max-height: 100px;
	object-fit: contain;
	filter: drop-shadow(.75em .75em .5em);
}

.art{
	max-width: 90%;
	padding-left: 0px;
}

}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: +5;
}
nav > p {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 3.7vh;
  left: 4vw;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav > ul {
  display: inline-block;
  list-style-type: none;
  padding: 0vh 3vw;
  float: right;
}
nav > ul > li {
  border: 1px solid transparent;
  padding: 1vh 1.2vw;
  margin: 0;
  display: inline-block;
}
nav > ul > li:hover {
 
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
nav a {
  color:white;
  text-decoration:none;
}

nav a:hover {
 -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;  
}
nav > ul > li > a {
font-family: 'Montserrat', sans-serif;
  font-size: 2.2vh;
  color: white;
  text-decoration:none;
}
.navTransparent {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: transparent;
}
.navTransparent > p {
  font-family: 'Montserrat', sans-serif;
  outline: medium none;
}
.navTransparent > ul > li:hover {
  border: 1px solid white;
}
.navTransparent > ul > li > a {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 2.5vh;
}
.navTransparent > p {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
.navColor {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background-color: #000000;
  z-index: 99;
}
.navColor > ul > li:hover {
  border: 1px solid #ff6600;
}
.navColor > ul > li > a {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
.navColor > p {
  font-family: 'Montserrat', sans-serif;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: white;
}
