{% extends 'base.html.twig' %}

{% block title %}Verify your email{% endblock %}

{% block body %}
 <center><img src="/logo.png"></center>
 	<div class = "container" style="background-color: #90EE90;"><center>
 	<p>Verification email sent! <p>
 	<p>Please click the link in the email to verify your email address.</p></center>
 	</div>
{% endblock %}
