{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>Select all users of a country</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success choose-country">Search</button>
    {{ form_end(form) }}
{% endblock %}