<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky" style="background-color: #ffff99 !important " >
<div class="navbar-brand" >GIPE 2020</div>

<button class="navbar-toggler" type="button" datatoggle="dropdown" data-target="#navbarSupportedContent" ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">

<div class="col-md-4"><li class="nav-item-active"><a class="nav-item navlink active" href="/home">Homepage</a></li></div>
<div class="col-md-4"><li class="nav-item-active"><a class="nav-item navlink active" href="/register">Register</a></li></div>
<div class="col-md-4">
<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Member Area</a>
<ul class="dropdown-menu">
<li class="nav-item">

                <a href="/login" class="nav-link" >            
                  <p>Login</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/" class="nav-link" >    

            {% if app.user %}             
                  <p>List of all user</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link" >
             {% endif %}
                  <p>Logout</p>
                </a>
              </li>
            </ul>
</li>
</div>
</ul>

</form>
</div>
</nav>
  <!-- /.navbar --> 