<img src="{{ email.image('@images/logo.png') }}" alt="Logo">

<h1>Hello!</h1>
<p>
    You requested a password change for your account with the following email address:
</p>
<p>
    <code>{{ email.to[0].address }}</code>
</p>
<p class="text-success"><center>
Please click the link below to reset your password.
</center>
</p>
<p> <center> <a href='dev2020.gipe/resetPassword/{{ user.token }}'>Click Here</a></center> <p>
<p>
   Kind regards,
</p>
<p>
Your GIPE Project Team
</p>
